sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t demolt/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true demolt/react-test npm test

after_success:
  - docker build -t demolt/multi-client ./client
  - docker build -t demolt/multi-nginx ./nginx
  - docker build -t demolt/multi-server ./server
  - docker build -t demolt/multi-worker ./worker

# Login to Docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# Push images to Docker Hub
  - docker push demolt/multi-client
  - docker push demolt/multi-nginx
  - docker push demolt/multi-server
  - docker push demolt/multi-worker

before_deploy:
  # Install AWS CLI
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin

  # Check if the environment exists
  - if ! aws elasticbeanstalk describe-environments --region ap-southeast-2 --environment-names MultiDocker-env | grep -q "EnvironmentName"; then echo "Environment MultiDocker-env does not exist"; exit 1; fi

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-2"
  app: "multi-docker"
  env: "MultiDocker-env"
  bucket_name: "elasticbeanstalk-ap-southeast-2-891376959231"
  bucket_path: "multi-docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

after_deploy:
  # Ensure the environment is healthy
  - aws elasticbeanstalk wait environment-health --environment-name MultiDocker-env --region ap-southeast-2
  - aws elasticbeanstalk describe-environments --region ap-southeast-2 --environment-names MultiDocker-env
